.register_suss{
    width:100%;
    height:556px;
    background:#f5f5f5;
    .successful{
        width:1200px;
        height:271px;
        margin:0 auto;
        padding:1.5% 2% 2% 2%;
        color:#555;
        border-bottom:1px solid #ddd;
        h3{
            font-size:1.4em;
            line-height:2.6em;
            border-bottom:2px solid #999;
        }
        dl{
            padding:3% 0 3% 22%;
            font-size:1.2em;
            dt{
              height:54px;
              width:54px;
              float:left;
              margin-right:30px;
              s{
                  display:block;
                  width:54px;
                  height:54px;
                  background:url(../../img/login.png) no-repeat -168px 0;
              }  
            }
            dd{
               float:left;
               span{
                  color:#001d59;
                  font-size:1.25em;
                  font-weight:700;
                  line-height:2em 
               } 
               p{
                  font-size:14px;
                  line-height:2em; 
               }
               p{
                  font-size:14px;
                  line-height:2em; 
                  b{
                      color:#f40;
                      font-weight:bold;
                      line-height:2em;
                  }
               }
               p{
                  font-size:14px;
                  line-height:2em; 
                  button{
                      padding:.5% 3%;
                      border-radius:2px;
                      font-size:.7em;
                      margin:0 2%;
                      background:#2c3444;
                      color:#fff;
                      border:none;
                      cursor:pointer;
                      font-weight:600;
                  }
               }
            }
        }
    }
}
