*{
	margin:0;
	padding:0;
}
body{
	color:#f5f5f5;
	font:12px/1.5 Tahoma, Arial, Helvetica, 'Microsoft YaHei', sans-serif;
}
ul li,ol li{
	list-style:none;
	float:left;
}
img{
	border:none;
}
/*-----------------nav---------------------------*/
.nav{
	height:42px;
	width:100%;
	background:#1e1e1e;
	position:relative;
}
.nav .catalog{
	float:left;
	height:42px;
	width:160px;
	margin-left:30px;
	background:#ed4242;
	position:relative;
}
.nav .catalog h3{
	font-size:14px;
	height:42px;
	color:#fff;
	line-height:42px;
	text-align:center;
}
.nav .catalog ul{
	position:absolute;
	top:42px;
	left:0px;
	width:160px;
	background: rgba(255,255,255,.95);
	display:none;
	z-index:20;
}
.nav .catalog ul li{
	clear:both;
	height:42px;
	padding-left:20px;
	width:140px;
	line-height:42px;
	border-bottom:1px dotted #000;
	transition: all .1s linear;
}
.nav .catalog ul li:hover{
	width:130px;
	transform:translateX(5px);
	border-left:5px solid #ed4242;
}
.nav .catalog ul li a{
	color:#333;
}
.nav .catalog ul li i.size{
	height:8px;
	width:8px;
	float:right;
	margin-right:15px;
	display:none;
}
.nav .catalog #noborder{
	border-bottom:none;
}
.nav .meau_bar ul li{
	height:42px;
	line-height:42px;
}
.nav .meau_bar ul li a{
	padding:0 35px;
	color:#fff;
	font-size:14px;
}
.nav .meau_bar ul li a:hover{
	background:#3f3f3f;
	display:block;
	height:42px;
	line-height:42px;
}
.nav .muying1{
	height:545px;
	width:650px;
	background: rgba(255,255,255,.95);
	position:absolute;
	left:190px;
	top:42px;
	padding:0 20px;
	display:none;
	z-index:50;
}
.nav .muying1 ol{
	height:60px;
	border-bottom:1px dotted #000;
	padding-top:16px;
}
.nav .muying1 ol h4 a{
	color:#333;
	font-size:14px;
}
.nav .muying1 a:hover{
	color:red;
}
.nav .tiyu1 a:hover{
	color:red;
}
.nav .meizhuang1 a:hover{
	color:red;
}
.nav .yingyang1 a:hover{
	color:red;
}
.nav .shipin1 a:hover{
	color:red;
}
.nav .zhongbiao1 a:hover{
	color:red;
}
.nav .shuma1 a:hover{
	color:red;
}
.nav .jiaju1 a:hover{
	color:red;
}
.nav .muying1 ol h4{
	margin-bottom:10px;
}
.nav .muying1 ol li a{
	color:#333;
	font-size:14px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.nav .muying1 ol li.no_left a{
	padding-left:0;
}
.nav .meizhuang1{
	height:469px;
	width:650px;
	background: rgba(255,255,255,.95);
	position:absolute;
	left:190px;
	top:42px;
	padding:0 20px;
	display:none;
	z-index:50;
}
.nav .meizhuang1 ol{
	height:60px;
	border-bottom:1px dotted #000;
	padding-top:16px;
}
.nav .meizhuang1 ol h4 a{
	color:#333;
	font-size:14px;
}

.nav .meizhuang1 ol h4{
	margin-bottom:10px;
}
.nav .meizhuang1 ol li a{
	color:#333;
	font-size:14px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.nav .meizhuang1 ol li.no_left a{
	padding-left:0;
}
.nav .tiyu1{
	height:105px;
	width:650px;
	background: rgba(255,255,255,.95);
	position:absolute;
	left:190px;
	top:126px;
	padding:0 20px;
	display:none;
	z-index:50;
}
.nav .tiyu1 ol{
	height:60px;
	border-bottom:1px dotted #000;
	padding-top:16px;
}
.nav .tiyu1 ol h4 a{
	color:#333;
	font-size:14px;
}
.nav .tiyu1 ol h4{
	margin-bottom:10px;
}
.nav .tiyu1 ol li a{
	color:#333;
	font-size:14px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.nav .tiyu1 ol li.no_left a{
	padding-left:0;
}
.nav .yingyang1{
	height:257px;
	width:650px;
	background: rgba(255,255,255,.95);
	position:absolute;
	left:190px;
	top:42px;
	padding:0 20px;
	display:none;
	z-index:50;
}
.nav .yingyang1 ol{
	height:60px;
	border-bottom:1px dotted #000;
	padding-top:16px;
}
.nav .yingyang1 ol h4 a{
	color:#333;
	font-size:14px;
}
.nav .yingyang1 ol h4{
	margin-bottom:10px;
}
.nav .yingyang1 ol li a{
	color:#333;
	font-size:14px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.nav .yingyang1 ol li.no_left a{
	padding-left:0;
}
.nav .shipin1{
	height:393px;
	width:650px;
	background: rgba(255,255,255,.95);
	position:absolute;
	left:190px;
	top:42px;
	padding:0 20px;
	display:none;
	z-index:50;
}
.nav .shipin1 ol{
	height:60px;
	border-bottom:1px dotted #000;
	padding-top:16px;
}
.nav .shipin1 ol h4 a{
	color:#333;
	font-size:14px;
}
.nav .shipin1 ol h4{
	margin-bottom:10px;
}
.nav .shipin1 ol li a{
	color:#333;
	font-size:14px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.nav .shipin1 ol li.no_left a{
	padding-left:0;
}
.nav .jiaju1{
	height:393px;
	width:650px;
	background: rgba(255,255,255,.95);
	position:absolute;
	left:190px;
	top:42px;
	padding:0 20px;
	display:none;
	z-index:50;
}
.nav .jiaju1 ol{
	height:60px;
	border-bottom:1px dotted #000;
	padding-top:16px;
}
.nav .jiaju1 ol h4 a{
	color:#333;
	font-size:14px;
}
.nav .jiaju1 ol h4{
	margin-bottom:10px;
}
.nav .jiaju1 ol li a{
	color:#333;
	font-size:14px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.nav .jiaju1 ol li.no_left a{
	padding-left:0;
}
.nav .zhongbiao1{
	height:241px;
	width:650px;
	background: rgba(255,255,255,.95);
	position:absolute;
	left:190px;
	top:156px;
	padding:0 20px;
	display:none;
	z-index:50;
}
.nav .zhongbiao1 ol{
	height:60px;
	border-bottom:1px dotted #000;
	padding-top:16px;
}
.nav .zhongbiao1 ol h4 a{
	color:#333;
	font-size:14px;
}
.nav .zhongbiao1 ol h4{
	margin-bottom:10px;
}
.nav .zhongbiao1 ol li a{
	color:#333;
	font-size:14px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.nav .zhongbiao1 ol li.no_left a{
	padding-left:0;
}
.nav .shuma1{
	height:105px;
	width:650px;
	background: rgba(255,255,255,.95);
	position:absolute;
	left:190px;
	top:282px;
	padding:0 20px;
	display:none;
	z-index:50;
}
.nav .shuma1 ol{
	height:60px;
	border-bottom:1px dotted #000;
	padding-top:16px;
}
.nav .shuma1 ol h4 a{
	color:#333;
	font-size:14px;
}
.nav .shuma1 ol h4{
	margin-bottom:10px;
}
.nav .shuma1 ol li a{
	color:#333;
	font-size:14px;
	padding:0 8px;
	border-right:1px solid #ccc;
}
.nav .shuma1 ol li.no_left a{
	padding-left:0;
}
/*-----------------main---------------------------*/
a{
	color:#333;
}
.main{
	width:100%;
	background:#f5f5f5;
	height:3230px;
}
.list-content{
	width:1200px;
	height:100%;
	margin:0 auto;
}
.title{
	width:100%;
	height:48px;
	line-height:4;
}
.title a{
	padding:5px 0;
}
.font{
	color:#333;
	height:3px;
	width:3px;
}
.list-search{
	width:100%;
	height:2749px;
}
.list-search p.sum{
	width:100%;
	height:25px;
	padding-bottom:6px;
	border-bottom:1px solid #222;
	color:#999;
}
.list-search p.sum b{
	padding:0 5px;
	color:#666;
}
.list-search dl{
	height:44px;
	line-height:44px;
	font-size:14px;
	border-bottom:1px solid #ddd;
	overflow:hidden;
}
.list-search dt{
	float:left;
	width:60px;
	font-weight:bold;
	color:#333;
}
.list-search dd{
	float:left;
	width:1040px;
}
.list-search dd a{
	padding:3px 5px;
	margin:0 5px;
}
.list-search dd a.on{
	color:#ee4242;
	border:1px solid #ee4242;
}
.list-search ul{
	margin:40px 0 20px;
	height:2480px;	
}
.list-img{
	height:300px;
	overflow:hidden;
	width:236px;
	text-align:center;
	margin:0 4px 10px 0;
	position:relative;
	background:#fff;
}
.list-img i{
	position:absolute;
	z-index:2;
	font-size:0;
	background:#000;
	transition:all .5s ease-out;
	-webkit-transition:all .5s ease-out;
}
.list-img i.list-top{
	height:1px;
	width:0;
	left:0;
	top:0;
}
.list-img i.list-right{
	height:0;
	width:1px;
	right:0;
	bottom:0;
}
.list-img i.list-bottom{
	height:1px;
	width:0;
	bottom:0;
	right:0;
}
.list-img i.list-left{
	height:0;
	width:1px;
	left:0;
	top:0;
}
.list-img a.img{
	width:234px;
	height:236px;
	text-align:center;
	vertical-align:middle;
	position:relative;
	display:table-cell;
}
.list-img a.img img{
	max-height:236px;
	max-width:236px;
}
dl.tit{
	text-align:left;
	padding:10px 0;
	margin:0 10px;
}
.list-img dl.tit{
	height:auto;
	border-bottom:none;
	line-height:1.6;
	font-weight:normal;
}
dl.tit dt{
	width:75%;
	float:left;	
}
dl.tit p{
	height:20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
dl.tit dt a{
	color:#777;
	border:none;
}
dl.tit dd{
	width:25%;
	float:right;
	text-align:right;
	font-size:12px;
	margin-top:1px;
}
.list-img dd.fr img{
	height:11px;
	width:16px;
	border:1px solid #ddd;
}
.list-img a.img{
	transition:all .5s ease-out;
}
.list-img:hover a.img{
	transform:scale(1.1);
}
.list-img:hover i.list-top,.list-img:hover i.list-bottom{
	width:236px;
}
.list-img:hover i.list-right,.list-img:hover i.list-left{
	height:300px;
}
.tcdPageCode{
	text-align:center;
	border-top:1px solid #ddd;
	padding-top:20px;
	height:50px;
	color:#f00;
	cursor:default;
}
.tcdPageCode a{
	display: inline-block;
	color: #428bca;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border: 1px solid #ddd;
	margin: 0 2px;
	border-radius: 4px;
	vertical-align: middle;
}
.tcdPageCode a:hover{
	text-decoration: none;
	border: 1px solid #428bca;
}
.tcdPageCode span.current{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #fff;
	background-color: #428bca;
	border: 1px solid #428bca;
	border-radius: 4px;
	vertical-align: middle;
}
.tcdPageCode span.disabled{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #bfbfbf;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}
.liulan{
	padding-top:50px;
}
.history{
	margin-bottom:16px;
	padding-bottom:6px;
	border-bottom:1px solid #ddd;
}
.liulan-title{
	border-left:3px solid #ed4242;
	color:#222;
	padding-left:15px;
	overflow:hidden;
}
.list-history{
	position:relative;
}
/*-----------------回到顶部------------------*/
.toTop{
	height:50px;
	width:50px;
	background:#888;
	border-radius:10px;
	position:fixed;
	bottom:7%;
	right:3%;
	z-index:5;
	cursor:pointer;
	display:none;
}
.toTop s{
	display:inline-block;
	background:rgba(0,0,0,0) url(../img/login.png) no-repeat  -180px -60px;
	height:29px;
	width:29px;
	margin:10px 0 0 11px;
}
.toTop:hover{
	background:#ed4242;
}





